<div class="product-image-tag">Personalise me</div>

<style>
.product-image-tag{
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    top: 10px;
    left: 10px;
    padding: 1px 2px 1px 6px;
    font-family: "Neue Haas Unica", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
    color: #1c1b1b;
    box-shadow: 0 0 5px rgb(54 54 54 / 30%);
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
</style>