.product-gallery {
    display: flex;
  }
  /*Slider buttons are positioned absolutely over the active image*/
  .product-gallery .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .product-gallery .slider-button:not([disabled]):hover {
    border-color: rgba(var(--color-foreground), 0.3);
  }
  .product-gallery .slider-button:disabled {
    display: none;
  }
  .product-gallery .slider-button--prev {
    left: 0;
    border-left-width: 0;
  }
  .product-gallery .slider-button--next {
    right: 0;
    border-right-width: 0;
  }
 /*Thumbnail navigation will not exceed the height of the active image and will scroll overflowing elements*/
  .product-gallery__nav {
    width: 140px;
    list-style: none;
    margin: 0 .5rem 0 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    display: none;
  }
  .product-gallery__nav::-webkit-scrollbar { 
    display: none; 
  }
  .product-gallery__nav-item {
    display: block;
    cursor: pointer;
  }
  .product-gallery__nav-item + .product-gallery__nav-item {
    margin-top: .5rem;
  }
  .product-gallery__nav-item img {
    width: 100%;
    display: block;
  }
  .product-gallery__images {
    flex-grow: 1;
    height: fit-content;
    position: relative;
  }
/*Hide images unless they are the active image*/
  .product-gallery__image {
    display: none;
  }
  .product-gallery__image--active {
    display: block;
  }
  @media screen and (min-width: 750px) {
    .product-gallery__nav {
      display: block;
    }
  }

  .product__title{
      text-transform:uppercase;
  }

 .product__modal-opener--image .product__media-toggle:hover {
  cursor: pointer;
}